<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Jokes Category</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="getCategorySpecificJokes(category)"  *ngFor="let category of categories">{{category}}</a>      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Chuck Norris Joke</span>
    </mat-toolbar>
    <div *ngIf="inProgress">
      <mat-spinner></mat-spinner>
    </div>
    <div  *ngIf="!inProgress">
      <p>{{categorySpecificJokes?.value}}</p>
      <p>
        <img [src]="categorySpecificJokes?.icon_url">
      </p>
      <p>
        <a mat-list-item [href]="categorySpecificJokes?.url" target="_blank">Direct Link</a>
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
